<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <title>Accidental Bigraphy</title>
  </head>
  <body>
    <div class="container">
      <h1>An accidental biography</h1>
      <p>
        @Model.Name @Model.LastName Lorem ipsum dolor sit amet, @Model.GetRandomNoun() adipiscing elit, sed do eiusmod @Model.GetRandomVerb() incididunt ut @Model.GetRandomNoun() et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure @Model.GetRandomVerb() in @Model.GetRandomAdverb() in voluptate @Model.GetRandomNoun() esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non @Model.GetRandomAdverb(), sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </body>
</html>