@{
  Layout = "_Layout";
}
    <div class="jumbotron">
      <h1>A funny story about @Model.FirstName @Model.LastName</h1>
    </div>
      <img src="https://media.npr.org/assets/img/2014/03/07/istock-5470997-man-laughing_wide-c268c42f8f75abcc6cfb0a53d4088d48f0a3c1df.jpg?s=1400" class="img-fluid" alt="">
      <div class="jumbotron text">
        <p>
          Lorem ipsum dolor sit amet, <span class="random-noun">@Model.GetRandomNoun()</span> adipiscing elit, sed do eiusmod @Model.GetRandomVerb() incididunt ut <span class="random-noun">@Model.GetRandomNoun()</span> et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure @Model.GetRandomVerb() in <span class="random-adverb">@Model.GetRandomAdverb()</span> in voluptate <span class="random-noun">@Model.GetRandomNoun()</span> esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non <span class="random-adverb">@Model.GetRandomAdverb()</span>, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>