@{
  Layout = "_Layout";
}
      <div class="jumbotron">
        <h1>Spooky Days</h1>
      </div>
      <img src="https://www.dreadcentral.com/wp-content/uploads/2019/10/stop-motion-exorcist.jpg" class="img-fluid" alt="">
      <div class="jumbotron text">
      <p>
         @Model.FirstName @Model.LastName Lorem ipsum dolor sit amet, @Model.GetRandomNoun() adipiscing elit, sed do eiusmod @Model.GetRandomVerb() incididunt ut @Model.GetRandomNoun() et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure @Model.GetRandomVerb() in @Model.GetRandomAdverb() in voluptate @Model.GetRandomNoun() esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non @Model.GetRandomAdverb(), sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      </div>